<template id="tablerow">
    <span  class="cursor-pointer table-row bg-gray-800 hover:bg-gray-500">
        <div class="table-cell py-1 px-3.5 text-center border-l-4  PLSCORE"></div>
        <div class="table-cell px-4 PLNAME"></div>
        <div class="table-cell text-center PLDUR"></div>
        <div class="table-cell text-center PLKD"></div>   
    </span>
</template>


<template id="playercard_summary_item">
    <div class="flex flex-col items-center flex-none  py-1">
        <p class="text-xl">%VALUE%</p>
        <p class="tracking-tighter leading-tight text-gray-500 text-xs uppercase">%KEY%</p>
    </div>
</template>

<template id="playercard_weapon_item">
    <div class="table-row w_row">
        <div class="table-cell py-1 text-center w_img_div"><img src="images/icons/" class="h-5 w-5 inline rat-tip" title-new=""/></div>
        <div class="table-cell text-center w_acc">%ACC%</div>
        <div class="table-cell text-center w_kills"></div>
        <div class="table-cell text-center w_dmg">%DAMAGE%</div>
        <div class="table-cell text-center w_k_d">%HITS%/%SHOTS%</div>
    </div>
</template>

<template id="playercard_weapon_empty">

    <div class="table-row w_row wp_5 text-gray-500">
        <div class="table-cell py-1 text-center w_img_div rat-tip" title-new="Rocket Launcher"><img src="images/icons/" class="h-5 w-5 inline rat-tip" title-new=""></div>
        <div class="table-cell text-center w_acc">---</div>
        <div class="table-cell text-center w_kills" style="display: none;">---</div>
        <div class="table-cell text-center w_dmg">---</div>
        <div class="table-cell text-center w_k_d">---</div>
    </div>
   <!-- <div class="table-row w_row wp_empty" style="visibility: hidden;"><img  class="h-8 w-5" /></div>-->
</template>

<template id="playercard_award_item">     
    <div class="flex flex-col items-center flex-none px-2 py-1">
        <div style="position:relative"><img src="%IMG%" class="h-11 w-11 inline"></div>
        <p class="tracking-tighter leading-tight uppercase text-sm text-gray-200 value">%%</p>
    </div>
</template>

<template id="playercard_item_item">     
    <div class="flex flex-col items-center flex-none px-2 py-1">
        <div style="position:relative"><img src="%IMG%" class="h-8 w-8 inline"></div>
        <p class="tracking-tighter leading-tight uppercase text-sm text-gray-200 value">%%</p>
    </div>
</template>

<template id="playercard">
    <div class="cursor-default md:max-w-lg w-full md:w-1/2 my-4 md:m-4 flex flex-col justify-start bg-gray-800 text-gray-200 flex flex-col cardmain">
        <div class=" w-full py-3 px-3 border-l-8 bg-gray-700">
            <p class="text-lg leading-none text-gray-200 P_NAME">%%</p>
        </div>
        
        <div class="w-full py-3 px-3 ">
         <!--   <h3 class="uppercase text-gray-300">Summary</h3>-->
            <div class="flex flex-wrap justify-between summary_stats"></div>
        </div>
        <div class="w-full py-3 px-3 flex justify-center flex-wrap bg-gray-800 border-t-2 border-gray-700">
            <div class="flex flex-wrap item_stats statsfold justify-center"></div>
            <span class="w-full text-xs pl-2 text-center text-gray-500 clickitem cursor-pointer"> more...</span>
            <!--   <h3 class="uppercase text-gray-300">Items </h3>-->
        </div>
        <div class="w-full  py-3 px-3 border-t-2 border-gray-700">
            <!--   <h3 class="uppercase text-gray-300">Weapons</h3>-->
            <div class="table mx-auto w-full">
                <div class="table-row-group">
                <div class="table-row">
                    <div class="table-cell text-xs uppercase text-gray-500 px-2 text-center">Weapon</div>
                    <div class="table-cell text-xs uppercase text-gray-500 px-2 text-center">Accuracy</div>
                    <div class="table-cell text-xs uppercase text-gray-500 px-2 text-center w_kills">Kills</div>
                    <div class="table-cell text-xs uppercase text-gray-500 px-2 text-center">Damage</div>
                    <div class="table-cell text-xs uppercase text-gray-500 px-2 text-center">Hits/Shots</div>
                </div>
                </div>
                <div class="table-row-group weapon_stats">         
                </div>
            </div>
        </div>
        <div class="w-full px-3 py-3  bg-gray-800 border-t-2 border-gray-700">
            <!--   <h3 class="uppercase text-gray-300">Medals</h3>-->
            <div class="flex flex-wrap justify-center award_stats statsfold">
            </div><div class="w-full text-xs pl-2 text-center text-gray-500 clickitem cursor-pointer"> more...</div>
        </div>
    </div>
</template>

<template id="playercardduel">
    <div class="bg-gray-800 text-gray-200 flex flex-col">
        <div class="bg-gray-700 w-full py-3 px-3 ">
            <p class="text-lg text-center leading-none text-gray-200 text-xl P_NAME"></p>
        </div>
        <div class="w-full py-3 px-3">
            <div class="flex flex-wrap justify-between summary_stats"></div>
        </div>
        <div class="w-full py-3 px-3 flex justify-center flex-wrap border-t-2 border-gray-700">
            <div class="flex flex-wrap justify-center item_stats statsfold"></div> <div class="w-full text-xs pl-2 text-center text-gray-500 clickitem cursor-pointer"> more...</div>
        </div>
        <div class="w-full bg-gray-800 py-3 px-3 border-t-2 border-gray-700 ">
            <div class="table mx-auto w-full">
                <div class="table-row-group">
                <div class="table-row">
                    <div class="table-cell text-xs uppercase text-gray-500 px-2 text-center">Weapon</div>
                    <div class="table-cell text-xs uppercase text-gray-500 px-2 text-center">Accuracy</div>
                    <div class="table-cell text-xs uppercase text-gray-500 px-2 text-center w_kills">Kills</div>
                    <div class="table-cell text-xs uppercase text-gray-500 px-2 text-center">Damage</div>
                    <div class="table-cell text-xs uppercase text-gray-500 px-2 text-center">Hits/Shots</div>
                </div>
                </div>
                <div class="table-row-group weapon_stats">         
                </div>
            </div>
        </div>
        <div class="w-full px-3 py-3 border-t-2 border-gray-700" >
            <div class="flex justify-center flex-wrap award_stats statsfold">
            </div><div class="w-full text-xs pl-2 text-center text-gray-500 clickitem cursor-pointer"> more...</div>
        </div>
    </div>
</template>

<template id="TEAM">     
        <div class="flex flex-col lg:flex-row">
            <div id="winningteam" class="table w-full lg:w-1/2 lg:px-1">         
                <div class="table-row bg-gray-700 text-gray-200">
                    <div scope="col" class="table-cell px-4 py-2 text-center w-12 text-xs font-medium uppercase tracking-wider">
                        Score
                    </div>
                    <div scope="col" class="table-cell px-4 py-2 text-left  text-xs font-medium uppercase tracking-wider">
                        Name
                    </div>   
                    <div scope="col" class="table-cell px-4 py-2 text-center w-20 text-xs font-medium uppercase tracking-wider">
                        Time
                    </div>
                    <div scope="col" class="table-cell px-4 py-2 text-center w-20 text-xs font-medium uppercase tracking-wider gametypevar">
                        Kills/Deaths
                    </div>
                </div>
                <div id="left_side_team" class="table-row-group">
               
                </div>
            </div>

            <div id="losingteam" class="table pt-4 lg:pt-0 w-full lg:w-1/2 lg:px-1">           
                <div class="table-row bg-gray-700 text-gray-200">
                    <div scope="col" class="table-cell px-4 py-2 text-center w-12 text-xs font-medium uppercase tracking-wider">
                        Score
                    </div>
                    <div scope="col" class="table-cell px-4 py-2 text-left  text-xs font-medium uppercase tracking-wider">
                        Name
                    </div>
                    <div scope="col" class="table-cell px-4 py-2 text-center w-20 text-xs font-medium uppercase tracking-wider">
                        Time
                    </div>    
                    <div scope="col" class="table-cell px-4 py-2 text-center w-20 text-xs font-medium uppercase tracking-wider gametypevar">
                        Kills/Deaths
                    </div>   
                </div>
                <div id="right_side_team" class="table-row-group">
                     
                </div>
            </div>
        </div>  
</template>

<template id="DUEL">
    <div class="flex flex-col lg:flex-row">
        <div id="winningteam" class="table w-full lg:w-1/2 lg:px-1">          
            <div id="left_side_team" >
           
            </div>
        </div>
        <div id="losingteam" class="table pt-4 lg:pt-0 w-full lg:w-1/2 lg:px-1">           
            <div id="right_side_team"> 
            </div>
        </div>
    </div>
</template>

<template id="SINGLE">   
    <div class="flex flex-col lg:flex-row">
        <div id="winningteam" class="table w-full  lg:px-1">         
            <div class="table-row bg-gray-700 text-gray-200">
                <div scope="col" class="table-cell px-4 py-2 text-center w-12 text-xs font-medium uppercase tracking-wider">
                    Score
                </div>
                <div scope="col" class="table-cell px-4 py-2 text-left  text-xs font-medium uppercase tracking-wider">
                    Name
                </div>   
                <div scope="col" class="table-cell px-4 py-2 text-center w-20 text-xs font-medium uppercase tracking-wider">
                    Time
                </div>
                <div scope="col" class="table-cell px-4 py-2 text-center w-20 text-xs font-medium uppercase tracking-wider">
                    Kills/Deaths
                </div>
            </div>
            <div id="left_side_team" class="table-row-group">
        
            </div>
        </div>
    </div>
</template>

<template id="HEADTEAM">
    <div class=" flex-shrink-0 h-full w-32 mx-10 text-8xl flex items-center justify-center">
        <div id="M_SCORE_LEFT">%%</div>
    </div>
    <div class="py-8 text-center">
        <p id="M_DATE" class="text-sm">%%</p>
        <p id="M_GAMETYPE" class="text-3xl py-1">%%</p>
        <p id="M_MAP" class="text-2xl">%%</p>
        <p id="M_SERVER_NAME" class="text-s">%%</p>
    </div>
    <div class=" flex-shrink-0 h-full w-32 mx-10 text-8xl flex items-center justify-center">
        <div id="M_SCORE_RIGHT">%%</div>
    </div>
</template>

<template id="HEADDUEL">
    <div class=" flex-shrink-0 h-full w-32 mx-10 text-8xl flex items-center justify-center">
        <div id="M_SCORE_LEFT">%%</div>
    </div>
    <div class="py-8 text-center">
        <p id="M_DATE" class="text-sm">%%</p>
        <p id="M_GAMETYPE" class="text-3xl py-1">%%</p>
        <p id="M_MAP" class="text-2xl">%%</p>
        <p id="M_SERVER_NAME" class="text-s">%%</p>
    </div>
    <div class="text-blue-600 flex-shrink-0 h-full w-32 mx-10 text-8xl flex items-center justify-center">
        <div id="M_SCORE_RIGHT">%%</div>
    </div>
</template>

<template id="HEADSINGLE">
    <div class="py-8 text-center">
        <p id="M_DATE" class="text-sm">%%</p>
        <p id="M_GAMETYPE" class="text-3xl py-1">%%</p>
        <p id="M_MAP" class="text-2xl">%%</p>
        <p id="M_SERVER_NAME" class="text-s">%%</p>
    </div>
</template>
<template id="filter">
    

</template>
<template id="indexbody">
    <div class="flex flex-col lg:flex-row">
        <div id="winningteam" class="table w-full lg:w lg:px-1">   
            <div class="table-row bg-gray-700 text-gray-200 min-w-full w-full tableheader">
                <div scope="col" class="table-cell px-4 py-2 text-center w-60 text-xs font-medium uppercase tracking-wider">
                    Map
                </div>
                <div scope="col" class="table-cell px-8 py-2 text-left  text-xs font-medium uppercase tracking-wider">
                    Server
                </div>   
                <div scope="col" class="table-cell px-8 py-2 text-center w-40 text-xs font-medium uppercase tracking-wider">
                    Gametype
                </div>
                <div scope="col" class="table-cell px-4 py-2 text-center w-20 text-xs font-medium uppercase tracking-wider">
                    Players
                </div>
                <div scope="col" class="table-cell px-4 py-2 text-center w-60 text-xs font-medium uppercase tracking-wider">
                    Date
                </div>
                <div class="arrow up"></div>
            </div>
            <div class="table-row bg-gray-900 text-gray-200 min-w-full w-full filterbox  ">
                <div scope="col" class="table-cell px-4 py-2 text-center w-60 text-m font-medium uppercase tracking-wider border-t-4 border-gray-800">
                    <select class="  text-black" id="mapselect">
                        <option value="ALL">
                            ALL
                        </option>
                    </select>
                </div>
                <div scope="col" class="table-cell px-4 py-2 text-left  text-m font-medium uppercase tracking-wider border-t-4 border-gray-800">
                    <select class=" text-black"  id="serverselect">
                        <option value="ALL">
                                ALL
                            </option>
                        </select>
                </div>   
                <div scope="col" class="table-cell px-4 py-2 text-center w-40 text-m font-medium uppercase tracking-wider border-t-4 border-gray-800">
                    <select class="  text-black" id="gtselect">
                        <option value="ALL">
                            ALL
                        </option>
                    </select>
                </div>
                <div scope="col" class="table-cell px-4 py-2 text-center w-20 text-m font-medium uppercase tracking-wider border-t-4 border-gray-800">
                  
                </div>
                <div scope="col" class="table-cell px-4 py-2 text-center w-60 text-m font-medium uppercase tracking-wider border-t-4 border-gray-800">
                    <input class="w-40 text-black" id="datepicker" type="text"/>
                </div>
            </div>
            <div class="table-row bg-gray-900 text-gray-200 min-w-full w-full filterbox justify-center">
                <div scope="col" class="table-cell px-4 py-2 text-center w-60 text-xs font-medium uppercase tracking-wider">
                    
                </div>
                <div scope="col" class="table-cell px-4 py-2 text-left  text-m font-medium uppercase tracking-wider">
                    
                </div>   
                <div scope="col" class="table-cell px-4 py-2 text-center w-40 text-m font-medium uppercase tracking-wider">
                  
                </div>
                <div scope="col" class="table-cell px-4 py-2 text-center w-20 text-m font-medium uppercase tracking-wider">
                   
                </div>
                <div scope="col" class="table-cell px-4 py-2 text-center w-60 text-m font-medium uppercase tracking-wider">
                    <button class=" text-xs px-4 py-1 bg-gray-500" id="filterstart">Filter</button> <button class=" px-4 text-xs py-1 bg-gray-500" id="filterreset">Reset</button>
                </div>
            </div>
            <div id="matchlist" class="table-row-group divide-y divide-y-reverse divide-rose-400">

            </div>
            <div id="matchlist_hidden" class="hidden table-row-group divide-y divide-y-reverse divide-rose-400">

            </div>
        </div>
    </div>
</template>

<template id="matchrow">
    <a  class="cursor-pointer table-row hover:bg-gray-500">
        <div class="table-cell align-middle text-center border-l-4  m_map bg-center">
            <span class="w-full bg-gray-900 h-20 align-middle bg-opacity-70 mapname blur1">oa_shine</span>
        </div>
        <div class="table-cell align-middle px-4 m_server_name"></div>
        <div class="table-cell align-middle text-center m_playercount"></div>
        <div class="table-cell align-middle text-center m_gametype"></div>   
        <div class="table-cell align-middle text-center m_date"></div>   
    </a>

</template>


<template id="footer">
    <footer class="h-40 my-20 py-10 flex flex-col justify-center content-center items-center">
        <div class="py-5"><img src="images/ratmod-head-icon.svg" class="w-14 h-14"></div>
        <div>ratmod. by the rats, for the rats</div>
        <div> <a href="https://ratmod.github.io">ratmod documentation</a> </div>
    </footer>
</template>
