@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon-back {
    background-color: #111827;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23374151' fill-opacity='1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cardmain::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#modal-container {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cardmain {
    height: fit-content;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

.nocenter {
    height: fit-content;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    top: -50%;

    transform: translate(0, 50%);
}

.rat-tip[title-new]:hover:after {
    content: attr(title-new);
    position: absolute;
    top: 20px;
    left: -100%;
    border: rgba(17, 24, 39, 255) 3px solid;
    padding: 10px;
    display: block;
    z-index: 1001;
    background-color: rgba(55, 65, 81, 255);
    color: #ffffff;
    min-width: 200px;
    max-width: 300px;
    text-decoration: none;
    text-align: center;

}

.table-cell.rat-tip[title-new] {

    position: relative;

}

.table-cell.rat-tip[title-new]:hover:after {
    background-color: rgba(31, 41, 55, 255);
    margin: 20px 0px 0px 100%;
}

.matchimage p {
    text-shadow: 1px 1px 3px black;
    width: 100%;
    padding: 6px 8vw;
    background: #4c4c50cf;
}

.matchimage {
    background-image: url(/images/lvlshot/aggressor.jpg);
    border: 1px solid slategray;
    padding: 0px;
    background-size: cover;
    background-position: center;
}

span.mapname {
    display: block;
    line-height: 80px;
}

span.blur1 {
    backdrop-filter: blur(0.5px);
}

.toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor:pointer;
}
.the-datepicker__button {
    color: white!important;
}

.tableheader{
    position:relative;
    cursor: pointer;
}

.arrow {
    position: absolute;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    top: 10px;
    right: 20px;
  }

  .up {
    top:15px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

